<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TubeRip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TubeRip.Properties.Settings>
            <setting name="audioquality" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="videoquality" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="updateavail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audiosavepath" serializeAs="String">
                <value />
            </setting>
            <setting name="videosavepath" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="age" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="videoswatched" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="videosdownloaded" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isverified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scriptstats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savehistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backgroundloc" serializeAs="String">
                <value />
            </setting>
            <setting name="updatebg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bgstyle" serializeAs="String">
                <value>Tile</value>
            </setting>
        </TubeRip.Properties.Settings>
    </userSettings>
</configuration>
