<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RipLeech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RipLeech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RipLeech.Properties.Settings>
            <setting name="videosdownloaded" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="videoquality" serializeAs="String">
                <value />
            </setting>
            <setting name="audioquality" serializeAs="String">
                <value />
            </setting>
            <setting name="videoswatched" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audiosavepath" serializeAs="String">
                <value />
            </setting>
            <setting name="videosavepath" serializeAs="String">
                <value />
            </setting>
            <setting name="loggedinuser" serializeAs="String">
                <value />
            </setting>
            <setting name="betaupdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flashnotinstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateavail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ytqueue" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpeg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="surveyshown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reginstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="metro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="metro_plugin" serializeAs="String">
                <value />
            </setting>
        </RipLeech.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RipLeech.Properties.Settings>
            <setting name="progvers" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="buildvers" serializeAs="String">
                <value>3.5A-4</value>
            </setting>
        </RipLeech.Properties.Settings>
    </applicationSettings>
</configuration>
